@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

.login-page {
  width: 100%;
  height: 100vh;
  background-image: url("../../asset/login.jpg");
  background-repeat: none;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Cookie", cursive;
  font-size: 30px;
  overflow-x: hidden;
  .loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    position: absolute;
    .load {
      width: 50px;
      height: 50px;
      border: 5px solid skyblue;
      border-radius: 50%;
      border-right: 5px solid transparent;
      animation: spiner 1s infinite linear;
    }
    p {
      color: skyblue;
    }
  }
  .login {
    width: 60%;
    border-radius: 10px;
    height: 70vh;
    background: rgba(0, 0, 0, 0.5);
    .logo-login {
      text-align: center;
      margin: 10px;
      animation: text1 2.5s infinite alternate linear;
      font-size: 40px;
      font-weight: bold;
      color: #fff;
    }
    form {
      color: #fff;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: bold;
      input,
      button,
      label {
        margin: 5px;
        width: 70%;
        height: 35px;
        border-radius: 5px;
        padding: 10px;
        border: none;
      }
      p {
        margin: 10px;
        color: black;
        text-align: center;
      }
      button {
        margin-top: 20px;
        transition: all 0.5s ease;
        &:hover {
          background: skyblue;
          border: 1px solid #fff;
          transform: scale(1.1);
          color: #fff;
        }
      }
    }
    .register-btn {
      width: 100%;
      margin: 20px 0;
      text-align: center;
      .register {
        width: 70%;
        height: 35px;
        border-radius: 5px;
        border: none;
        transition: all 0.5s ease;
        &:hover {
          background: skyblue;
          border: 1px solid #fff;
          transform: scale(1.1);
          color: #fff;
        }
      }
    }
  }
}
@keyframes text1 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(7px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(15px);
  }
}
@keyframes spiner {
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1500px) {
  .login-page {
    .loading {
      .load {
        width: 45px;
        height: 45px;
      }
    }
    .login {
      width: 60%;
      height: 80vh;
      background: rgba(0, 0, 0, 0.5);
      .logo-login {
        font-size: 60px;
      }
      form {
        font-size: 40px;
        input,
        button,
        label {
          width: 70%;
          height: 40px;
        }
        p {
          font-size: 30px;
        }
      }
      .register-btn {
        .register {
          width: 70%;
          height: 40px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .login-page {
    .loading {
      .load {
        width: 40px;
        height: 40px;
      }
    }
    .login {
      width: 80%;
      height: 90vh;
      background: rgba(0, 0, 0, 0.5);
      .logo-login {
        font-size: 70px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .login-page {
    .loading {
      .load {
        width: 35px;
        height: 35px;
      }
    }
    .login {
      .logo-login {
        font-size: 50px;
      }
      form {
        font-size: 35px;
        input,
        button,
        label {
          width: 80%;
          height: 35px;
        }
        p {
          font-size: 30px;
        }
      }
      .register-btn {
        .register {
          width: 80%;
          height: 35px;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .login-page {
    .loading {
      .load {
        width: 30px;
        height: 30px;
      }
    }
    .login {
      .logo-login {
        font-size: 40px;
      }
      form {
        font-size: 30px;
        input,
        button,
        label {
          width: 80%;
          height: 30px;
        }
        p {
          font-size: 25px;
        }
      }
      .register-btn {
        .register {
          width: 80%;
          height: 30px;
        }
      }
    }
  }
}